/* 
** GLOBAL
*/
  @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    user-select: none;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
    margin: 0;
    padding: 0;

}
h1 , h2 ,h3 , h5 {
    margin: 0;
}
button {
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
}

body {
    font-family: 'Alexandria', sans-serif;
}

/****************************************************************************************
*** CLASSES
****************************************************************************************/

.relative{
    
    position: relative;
}
.icon {
    width: 32px;
    height: 32px;
}
.active {
    border-bottom: 2px solid #2196F3;
}
.show {
    display: block !important; 
}
.border_2 {
    border: 2px solid  rgb(52, 16, 16);
}

/****************************************************************************************
*** HEADER
****************************************************************************************/

.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding-inline: 1rem;
}

.exist , .video , .numberPages { flex-basis: calc(100% / 3);}

.numberPages { text-align: center; }

/****************************************************************************************
*** BODY
****************************************************************************************/

.conetent-canvas {
    height: calc(100vh - 140px - 1rem);
    width: calc(100% - 1rem);
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-inline: .5rem;
}

.canvas-container ,
.lower-canvas ,
.upper-canvas {
    /* width: 100% !important; */
    /* height: 100% !important; */
        /* object-fit: contain */
}

/****************************************************************************************
*** FOOTER
****************************************************************************************/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-inline: .5rem ;
    margin-block: .5rem ;
}

.toolbar {
    height: 100%;
    flex-basis: 60%;
    display: flex;
    justify-content: end;
}

.toolbar_box ,
.toolbar2_box ,
.add_pages_box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .5rem;
    background-color: #F6F6F6;
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} 

.toolbar2 {
    flex-basis: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.add_pages {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: .5rem;
}

.add_pages_box {
    display: flex;
    align-items: center;
    height: 100%;
}

.add_pages  button {
    padding-inline: 1rem;
    cursor: pointer;
}
.pagintion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_controll[disabled] {
    opacity: .5;
}

/* ///////////////////inner  toolbar////////////////// */
.overlaycolor{
    position: absolute;
    top: -420px;
    left: -380px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
    transition: opacity 500ms;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 1.5rem;
}

.boxcolor{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.brushSize{
    width: 290px;
    margin-right: 40px;
    direction: rtl
  }

  .size {
    font-size: 18px;
    font-weight: normal;
  }


.overlaytext{
    position: absolute;
    top: -535px;
    left: -423px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: opacity 500ms;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 1rem;
}

.boxtext{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.counter1{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color:white ;
    padding-inline: 1rem;
}

.counter1 select{
    direction: rtl;
    border: none;
    font-size: 20px;
    width: 400px;
}

.counter1 select:focus {
    outline:none;
}

.counter1 select option{
    font-size: 20px;
    width: 400px;
}

.counter{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color:white ;
    padding-inline: .8rem;
}

#sizetext{
    font-size: 20px;
}

#counterInput {
    text-align: center;
    border: none;
    font-size: 20px;
}

.counter2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    border-radius: 20px;
    background-color:white ;
    margin-bottom: 1rem;
}

#boxcolor2{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1rem;
}

.color_head{
    font-size: 20px;
    font-weight: normal;
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.color-circle:hover {
    opacity: 0.5;
}

.overlayfile{
    position: absolute;
    top: -103px;
    left: -429px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
    transition: opacity 500ms;
    z-index: 1;
    border-radius: 20px;
    background-color: #F6F6F6;
    
}

#boxfile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}



.overlayshape{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    top: -445px;
    left: -423px;
    transition: opacity 500ms;
    z-index: 1;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 1rem;
}

.box_color1 {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 20px;
}

#boxshape{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 20px;
}

.overlaypdf{
    position: absolute;
    top: -350px;
    left: -1000px;
    direction: rtl;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
    transition: opacity 500ms;
    width: 1200px;
    max-width: 1200px;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 1rem;
}

.pdf_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#addPageButton{
    cursor: pointer;
    font-size: 20px;
    color: #36B673;
}
.overlaypdf h4{
    font-size: 20px;
    font-weight: normal;
}

.page-preview {
    display: inline-block;
    margin: 1rem;
    border: 4px solid #B3B3B3;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.selected {
    border: 4px solid #36B673;
    border-radius: 10px;
}

.span_number_pages {
    position: absolute;
    bottom: -25px;
    left: 50%;
}
.page-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
    padding-bottom: 1rem;
}
.page-scroll::-webkit-scrollbar {
    height: 1.2rem;
    border-radius: 8px;
}

.page-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.page-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 8px;

}

.overlayaudio{
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
    transition: opacity 500ms;
    z-index: 1;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 1rem;
    top: 100px;
    left: 100px;
}
.overlayaudio img {
    pointer-events: none;

}

.btn-close_audio{
    position: absolute;
    top: 5px;
    left: 15px;
    cursor: pointer;
}
.driver{
    width: 80px;
    height: 7px;
    position: relative;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #B3B3B3;
    cursor: all-scroll;
    user-select: none;
}

#audio-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#playButton{
    cursor: pointer;
}
#pauseButton{
    cursor: pointer;
    display: none;
}


.custom-slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

#startTime{
    color: #36B673;
    font-size: 15px;
    font-weight: bold;
}

#endTime{
    color: #36B673;
    font-size: 15px;
    font-weight: bold;
}

.custom-slider {
    flex-grow: 1;
    height: 10px;
    background-color: #ccc;
    position: relative;
    border-radius: 5px;
}

.slider-knob {
    width: 20px;
    height: 20px;
    background-color: #36B673;
    border-radius: 50%;
    position: absolute;
    border: 1px solid white;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.range {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: -3px;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    z-index: 2;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #36B673;
}

.slider-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #36B673 0%, #36B673 0%);
    border-radius: 5px;
    pointer-events: none;
}


/* //////////////////Models//////////////////// */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    direction: rtl;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.modal h4{
    font-size: 25px;
}

.modal h3{
    font-size: 25px;
}
.form-control  {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}
.form-control label {
    width: 100px;
}
.form-control input[type=text] {
    width: 550px;
    height: 70px;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    background-color: #F2F2F2;
    border: none;
    direction: rtl;
    outline: none;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 40px;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.save-btn {
    background:#14C03C ;
    color: white;
    padding: .6rem 1.2rem;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/****************************************************************************************
*** MEDIA QUERY
****************************************************************************************/

@media (max-width:870px) {
    .conetent-canvas {
        height: calc(100vh - 140px - 1rem - 50px);
    }    
    .footer {
        height: 120px;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .toolbar {
        width: 100%;
        justify-content: center;
    }
    .toolbar2 {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
@media (max-width:488px) {
    .footer {
        height: 150px;
    }    
    .conetent-canvas {
        height: calc(100vh - 140px - 1rem - 80px);

    }
}
@media (max-width:567px) {
    .icon {
        width:26px
    }
}
@media (min-width:991px) {
    .icon {
        width: 40px;
        height: 40px;
    }
}
@media (min-width:1200px) {
    .icon {
        width: 50px;
        height: 50px;
    }
}


.scissors {
    cursor: pointer;
}
.scissors:hover {
    opacity: .5;
}




 /* {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
} */




/* ///////////////////////////////////// */




#eraser{
    float: left;
    margin-right: 30px;
    cursor: pointer;
    
}
#eraser:hover { opacity: 0.5; }


#square:hover {
    opacity: 0.5;
    cursor: pointer;
 }
 #word:hover {
    opacity: 0.5;
    cursor: pointer;
 }

#circle:hover { opacity: 0.5;cursor: pointer; }

#excel:hover { opacity: 0.5;cursor: pointer; }

#pdf:hover { opacity: 0.5;cursor: pointer; }

#triangle:hover { opacity: 0.5;cursor: pointer; }
#textfile:hover { opacity: 0.5; cursor: pointer;}

#star:hover { opacity: 0.5; cursor: pointer;}

#normal:hover { opacity: 0.5; cursor: pointer;}
#bold:hover { opacity: 0.5; cursor: pointer;}
#italic:hover { opacity: 0.5; cursor: pointer;}
#underline:hover { opacity: 0.5; cursor: pointer;}

#lineshape{
    margin-top: 10px;
    cursor: pointer;
    
}
#lineshape:hover { opacity: 0.5; }


#link:hover {
  opacity: 0.5; 
  cursor: pointer;
}
#audio:hover {
   opacity: 0.5; 
   cursor: pointer;
 }

#linearrow{
    margin-top: 10px;
    cursor: pointer;
    
}
#linearrow:hover { opacity: 0.5; }

#powerpoint:hover {
     opacity: 0.5;
     cursor: pointer;
     }

#linetwoarrow{
    margin-top: 10px;
    cursor: pointer;
    
}
#linetwoarrow:hover { opacity: 0.5; }

#clearCanvas{
    margin-left: 30px;
    cursor: pointer;
    
}

#select{
    cursor: pointer;
}

#select:hover { opacity: 0.5; }

#text{
    cursor: pointer;
    
}

#text:hover { opacity: 0.5; }


#file{
    cursor: pointer;
    
}

#file:hover { opacity: 0.5; }

#addVideo{
    float: right;
    display: block;
    cursor: pointer;
    
}
#addVideo:hover { opacity: 0.5; }

#stopVideo{
    float: right;

    display: none;
    cursor: pointer;
    
}
#stopVideo:hover { opacity: 0.5; }

#pauseVideo{
    float: right;

    margin-right: 10px;
    display: none;
    cursor: pointer;
    
}
#pauseVideo:hover { opacity: 0.5; }
#closeVideo{
    float: right;

    margin-right: 10px;
    display: none;
    cursor: pointer;
    
}
#closeVideo:hover { opacity: 0.5; }

#addexist{
    cursor: pointer;  
}
#addexist:hover { opacity: 0.5; }
#addUndo{
    cursor: pointer;
    
}
#addUndo:hover { opacity: 0.5; }

#addRedo{
    cursor: pointer;
    
}
#addRedo:hover { opacity: 0.5; }

#zoomIn{
    cursor: pointer;
    
}
#zoomIn:hover { opacity: 0.5; }

#zoomOut{
    cursor: pointer;
    
}
#zoomOut:hover { opacity: 0.5; }

#clearCanvas:hover { opacity: 0.5; }

#fillCanvas{
    float: right;
    margin-left: 20px;
    cursor: pointer;
    
}
#fillCanvas:hover { opacity: 0.5; }

#pencil{
    cursor: pointer;
}
#pencil:hover { opacity: 0.5; }

#penciltime{
    cursor: pointer;
    
}
#penciltime:hover { opacity: 0.5; }

#shape{
    cursor: pointer;
    
}
#shape:hover { opacity: 0.5; }

#eraseall{
    cursor: pointer;
    
}
#eraseall:hover { opacity: 0.5; }

#lock{
    cursor: pointer;
    
}
#lock:hover { opacity: 0.5; }

#erasepart{
    cursor: pointer;
    
}
#erasepart:hover { opacity: 0.5; }

#image{
    cursor: pointer;
    
}
#image:hover { opacity: 0.5; }


#saveCanvas{
    float: right;
    margin-left: 30px;
    cursor: pointer;
    
}
#saveCanvas:hover { opacity: 0.5; }


  /* تصميم مربع الحوار */
  #dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* تصميم حقل الإدخال */
#filenameInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* تصميم زر التأكيد */
#confirmFilename {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* تصميم زر الاغلاق */
#cancelRecordingButton {
    background-color: #8f959c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



  


  

 

  

.box_color1 h5 {
    font-size: 20px;
}



  .boxsize{
  display: flex;
  padding-block: 2rem;
  }


 
 

.boxs_color {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
   row-gap: .4rem;
   column-gap: .7rem;
}

#boxcolor1{
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
    gap: 1rem;
  }


  .toolbarpdf{
    padding: 20px;
    border-radius: 5px;
    position: relative;
    right: 50px;
    transition: all 5s ease-in-out;
  }


  .custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 762px;
    height: 299px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 4; 
}

#grayBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #707070; /* لون رمادي شفاف */
    opacity: 20%;
    z-index: 2; /* يجعل الخلفية أعلى من الكانفاس */
}

.custom-alert p {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
}

.custom-alert #text {
    margin-right: 10px;
    margin-top: 26px;
    font-size: 20px;
    font-weight: bold;
    color: #D90000;
}

#confirmExit {
    margin-top: 35px;
    color: #D90000;
    border: 2px solid #D90000 ;
    border-radius: 10px;
    padding: 9px 53px;
    font-size: 30px;
    font-weight: bold;
    background-color: #FFBCBC;
    cursor: pointer;
    margin-left: 217px;
}
#cancelExit {
    margin-top: 35px;
    color: #36B673;
    border: 1px solid #36B673 ;
    border-radius: 10px;
    padding: 9px 53px;
    font-size: 30px;
    font-weight: bold;
    background-color: #C7FFE2;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #0056b3;
}

/* .number {
    display: flex;
} */

/* Style the minus and plus buttons */
.minus, .plus {
    background-color: #F6F6F6;
    border-radius: 25px;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
}

.minus{
position: relative;
left: 40px;
}

.plus{
    position: relative;
    right: 40px;
    }

/* Style the input number */



 /* Styles for modal overlay */

        /* Styles for the modal content */


        /* Style for the close button */
    
        /* Style for form fields and button */
        .form-group {
            margin-bottom: 10px;
        }

        /* Style for the Save button */
    
        /* Style for input fields */
     

     
        /* Style for the selected page preview */
    

 

   

          .page-number {
            font-weight: bold;
        }


        /* Style for the custom slider track */
   



        /* Add more styling as needed */

      /* Style for the custom slider container */

  
    /* Style for the custom slider track */


    /* Style for the custom slider knob (circle) */


    /* Add more styling as needed */

    /* Style for slider background */


  

        #excelSheetsContainer {
            display: flex;
            position: relative;
            overflow-x: auto;
            flex-wrap: nowrap;
            bottom: 10px;
        }

        .sheet {
            display: inline-block;
            width: 170px;
            position: relative;
            right: 80px;
            bottom: 5px;
            margin: 5px 10px;
            height: 190px;
            border: 4px solid #B3B3B3;
            cursor: pointer;
            border-radius: 10px;
        }

        .sheet.selected {
            border: 4px solid #36B673;
            border-radius: 10px;
        }

        .overlayexcel h4{
            text-align: center;
            font-size: 20px;
            font-weight: normal;
          }
          .overlayexcel{
            direction: rtl;
            z-index: 1;
            display: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 500ms;
            height: 300px;
            width: 1200px;
            border-radius: 20px;
            margin: 100px 150px;
            background-color: #F6F6F6;
          }

          .overlayexcel h5{
            text-align: center;
            font-size: 20px;
            position: absolute;
            bottom: 90px;
            right: 20px;
            font-weight: normal;
        }
        #renderButton{
            border: none;
            cursor: pointer;
            font-size: 20px;
            color: #36B673;
            position: relative;
            bottom: 60px;
            right:1140px;
        }