/* 
** GLOBAL
*/
  @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');

:root {
    --radius : 8px;
    --box-shadow : 0px 0px 0px 1px rgb(0 0 0 / 20%);
    --green : #37B673
}


*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    user-select: none;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        margin: 0;
        padding: 0;
    
}
h1 , h2 ,h3 , h5 {
    margin: 0;
}
button {
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
}

body {
    font-family: 'Alexandria', sans-serif;
    height: 100vh;
    overflow: hidden;
}

/****************************************************************************************
*** CLASSES
****************************************************************************************/

.relative{
    
    position: relative;
}
.icon {
    width: 30px;
    height: 30px;
}
.recorde_icon {
    width: 50px;
    height: 16px;
}
.active {
    box-shadow: 0px 2px 0px 0px var(--green);
    border-radius: 2px;
}
.show {
    display: block !important; 
}
.border_2 {
    border: 1px solid #f6f6f6;
    outline: 1px solid var(--green);
}
.text {
    font-size: 12px;
    color: var(--green);
}

.header.hide_header {
    visibility: hidden;
    opacity: 0;
}

/****************************************************************************************
*** HEADER
****************************************************************************************/

.header {
    display: flex;
    align-items: center;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline: 1rem;
    z-index: 999999;
    width: 100%;
    opacity: 1;
    transition:opacity 0.3s ease-in-out , visibility 0.3s ease-in-out;
    visibility: visible;

}

.exist , .video , .numberPages { flex-basis: calc(100% / 3);}

.numberPages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: .8rem;
}

/****************************************************************************************
*** BODY
****************************************************************************************/

.conetent-canvas {
    height: calc(100% - 40px - 1.5rem);
    width: calc(100% - 1rem);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
    border-radius: 6px;
    margin-inline: 0.5rem;
    overflow: hidden;
    margin-top: 0.5rem;
}

.h2 {
    font-size: 16px;
    color: var(--green);
    position: relative;
}



/****************************************************************************************
*** FOOTER
****************************************************************************************/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-inline: .5rem ;
    margin-block: .5rem ;
    width: 100%;
    z-index: 999999;
}

.toolbar {
    height: 100%;
    flex-basis: 60%;
    display: flex;
    justify-content: end;
}

.toolbar_box ,
.toolbar2_box ,
.add_pages_box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .5rem;
    background-color: #F6F6F6;
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 20%);
} 
.toolbar_box > div ,
.toolbar2_box > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar2_box  {
    padding: calc(.5rem  + 4px) .5rem;
}
 

.toolbar_box button {
    cursor: pointer;
}

.toolbar_box button:hover {
    opacity: .5;
}

.toolbar2 {
    flex-basis: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.add_pages {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: .5rem;
}

.add_pages_box {
    display: flex;
    align-items: center;
    padding:calc(.5rem  + 3px) .5rem ;
}

.add_pages  button {
    padding-inline: .3rem;
    cursor: pointer;
}
.pagintion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_controll[disabled] {
    opacity: .5;
}

/* ///////////////////inner  toolbar////////////////// */
.overlaycolor{
    display: none;
    position: absolute;
    top: -303px;
    left: -238px;
    box-shadow: var(--box-shadow);
    transition: opacity 500ms;
    border-radius: var(--radius);
    background-color: #F6F6F6;
    padding: 1rem;
}

.overlaycolor.without_time {
    left: -214px;
}

.brush_div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brush_image {
    width: 180px;
    height: 20px;
    margin-bottom: 1rem;
}
.boxsize {
    margin-bottom: 1rem;
}
.boxsize ,
.boxcolor{
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    padding: 1rem;
}

.brushSize{
    width: 100%;
    direction: rtl
  }



.overlaytext{
    position: absolute;
    top: -341px;
    left: -190px;
    display: none;
    box-shadow: var(--box-shadow);
    transition: opacity 500ms;
    border-radius: var(--radius);
    background-color: #F6F6F6;
    padding: 1rem;
}

.boxtext{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.counter1{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--radius);
    background-color:white ;
    padding-inline: 1rem;
    box-shadow: var(--box-shadow);

}

.counter1 select{
    direction: rtl;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    color: var(--green);
}

.counter1 select:focus {
    outline:none;
}

.counter1 select option{
    font-size: 14px;
    width: 100%;
}

.counter{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--radius);
    background-color:white ;
    padding-inline: .8rem;
    box-shadow: var(--box-shadow);
}

#counterInput {
    text-align: center;
    border: none;
    font-size: 14px;
}
#sizetext {
    font-weight: bold;
}

.counter2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    background-color:white ;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}
.counter2 >span {
    cursor: pointer;
}
.counter2 >span:hover {
    opacity: .5;
}

#boxcolor2{
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}



.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.color-circle:hover {
    opacity: 0.5;
}

.overlayfile{
    position: absolute;
    top: -74px;
    left: -55px;
    display: none;
    transition: opacity 500ms;
    z-index: 1;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    background-color: #F6F6F6;
}

#boxfile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}
#boxfile > div {
    cursor: pointer;
}

#boxfile > div:hover {
    opacity: .5;
}


.overlayshape{
    display: none;
    position: absolute;
    top: -271px;
    left: -142px;
    transition: opacity 500ms;
    z-index: 1;
    background-color: #F6F6F6;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}

.box_color1 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}
#boxshape > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#boxshape > div:hover {
    opacity: .5;
}
#boxshape{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}

.overlaypdf{
    width: 300px;
    max-width: 300px;
    position: absolute;
    top: -361px;
    left: -180px;
    direction: rtl;
    z-index: 1;
    display: none;
    transition: opacity 500ms;
    background-color: #F6F6F6;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);

}

.pdf_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#addPageButton{
    cursor: pointer;
    font-size: 14px;
    color: var(--green);
    border-radius: var(--radius);
    border: 1px solid var(--green);
    padding: .5rem;
}
.overlaypdf h4{
    font-size: 14px;
    font-weight: normal;
}

.page-preview {
    display: inline-block;
    margin: 1rem;
    border: 4px solid #B3B3B3;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.selected {
    border: 4px solid var(--green);
    border-radius: 10px;
}

.span_number_pages {
    position: absolute;
    bottom: -25px;
    left: 50%;
}
.page-scroll {
    height: 250px;
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap; 
}
.page-scroll::-webkit-scrollbar {
    height: 1rem;
    border-radius: 6px;
}

.page-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.page-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 6px;

}

.overlayaudio{
    display: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    position: absolute;
    transition: opacity 500ms;
    z-index: 1;
    background-color: #F6F6F6;
    padding: 1rem;
    top: 100px;
    left: 100px;
}
.overlayaudio img {
    pointer-events: none;

}

.btn-close_audio{
    position: absolute;
    top: 5px;
    left: 15px;
    cursor: pointer;
}
.driver{
    width: 80px;
    height: 7px;
    position: relative;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    cursor: all-scroll;
    user-select: none;
}

#audio-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#playButton{
    cursor: pointer;
}
#pauseButton{
    cursor: pointer;
    display: none;
}


.custom-slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

#startTime{
    color: var(--green);
    font-size: 15px;
    font-weight: bold;
}

#endTime{
    color: var(--green);
    font-size: 15px;
    font-weight: bold;
}

.custom-slider {
    flex-grow: 1;
    height: 10px;
    background-color: #ccc;
    position: relative;
    border-radius: 5px;
}

.slider-knob {
    width: 20px;
    height: 20px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    border: 1px solid white;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.range {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: -3px;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    z-index: 2;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--green);
}

.slider-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, var(--green) 0%, var(--green) 0%);
    border-radius: 5px;
    pointer-events: none;
}


/* //////////////////Models//////////////////// */

.modal {
    min-width: 300px;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: var(--radius);
    transform: translate(-50%, -50%)translateY(-10px);
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    direction: rtl;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.5s ease-in-out;
    visibility: hidden;
}

.modal.show_model {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
    visibility: visible;
}




.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .5rem;
}




.form-control  {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}
.form-control label {
    width: 100px;
    font-size: 14px;
}
.form-control input[type=text] {
    width: 100%;
    border-radius:var(--radius);
    box-shadow: var(--box-shadow);
    font-size: 12px;
    padding: 10px;
    border: none;
    direction: rtl;
    outline: none;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: var(--radius)
}

.save-btn {
    background:var(--green) ;
    color: white;
    padding: .8rem 1.2rem;
    font-size: 14px;
    border-radius: var(--radius);
    font-weight: bold;
    cursor: pointer;
}

/****************************************************************************************
*** MEDIA QUERY
****************************************************************************************/

@media (max-width:567px) {
 
    .icon {
        width: 16px;
        height: 16px;
    }
    .recorde_icon {
        width: 36px;
        height: 12px;
    }
    .h2 {
        font-size: 12px;
    }
}
@media (max-width:768px) {
    .footer {
        flex-direction: column-reverse;
        gap: 20px;
    }
}


/* ///////////////////////////////////// */




#eraser{
    float: left;
    margin-right: 30px;
    cursor: pointer;
    
}





#addVideo{
    float: right;
    display: block;
    cursor: pointer;
}

#addVideo:hover { opacity: 0.5; }

#stopVideo{
    float: right;

    display: none;
    cursor: pointer;
    
}
#stopVideo:hover { opacity: 0.5; }

#pauseVideo{
    float: right;

    margin-right: 10px;
    display: none;
    cursor: pointer;
    
}
#pauseVideo:hover { opacity: 0.5; }
#closeVideo{
    float: right;

    margin-right: 10px;
    display: none;
    cursor: pointer;
    
}
#closeVideo:hover { opacity: 0.5; }

#addexist{
    cursor: pointer;  
    width: fit-content;
}
#addexist:hover { opacity: 0.5; }
#addUndo{
    cursor: pointer;
    
}
#addUndo:hover { opacity: 0.5; }

#addRedo{
    cursor: pointer;
    
}
#addRedo:hover { opacity: 0.5; }

#zoomIn{
    cursor: pointer;
    
}
#zoomIn:hover { opacity: 0.5; }

#zoomOut{
    cursor: pointer;
    
}
#zoomOut:hover { opacity: 0.5; }

#clearCanvas:hover { opacity: 0.5; }

#fillCanvas{
    float: right;
    margin-left: 20px;
    cursor: pointer;
    
}
#fillCanvas:hover { opacity: 0.5; }





  #dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* تصميم حقل الإدخال */
#filenameInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* تصميم زر التأكيد */
#confirmFilename {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* تصميم زر الاغلاق */
#cancelRecordingButton {
    background-color: #8f959c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}




 
 

.boxs_color {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
   row-gap: .4rem;
   column-gap: .7rem;
}



  .custom-alert {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: var(--radius);
    transform: translate(-50%, -50%)translateY(-10px);
    background-color: white;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    z-index: 4; 
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.5s ease-in-out;

}
.custom-alert.show_model {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
    visibility: visible;

}
#grayBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #707070; 
    opacity: 20%;
    z-index: 2; 
}

.custom-alert p {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(86, 86, 86);
    font-weight: bold;
}

.custom-alert #text {
    margin-block-start: 1rem;
    font-size: 14px;
    font-weight: bold;
    color: #D90000;
}
.exit_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 24px;
}
#confirmExit {
    color: #D90000;
    border: 1px solid #D90000 ;
    padding: 1rem 2rem;
    background-color: #FFBCBC;
    cursor: pointer;
    border-radius: var(--radius);
}
#cancelExit {
    color: var(--green);
    border: 1px solid var(--green) ;
    border-radius: var(--radius);
    padding: 1rem 2rem;
    background-color: #C7FFE2;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #0056b3;
}
.minus, .plus {
    border-radius: var(--radius);
    color: black;
    cursor: pointer;
}

.minus{
position: relative;
left: 40px;
}
.plus{
    position: relative;
    right: 40px;
}

        .form-group {
            margin-bottom: 10px;
        }




  

        #excelSheetsContainer {
            display: flex;
            position: relative;
            overflow-x: auto;
            flex-wrap: nowrap;
            bottom: 10px;
        }

        .sheet {
            display: inline-block;
            width: 170px;
            position: relative;
            right: 80px;
            bottom: 5px;
            margin: 5px 10px;
            height: 190px;
            border: 4px solid #B3B3B3;
            cursor: pointer;
            border-radius: 10px;
        }

        .sheet.selected {
            border: 4px solid var(--green);
            border-radius: 10px;
        }

        .overlayexcel h4{
            text-align: center;
            font-size: 20px;
            font-weight: normal;
          }
          .overlayexcel{
            direction: rtl;
            z-index: 1;
            display: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 500ms;
            height: 300px;
            width: 1200px;
            border-radius: 20px;
            margin: 100px 150px;
            background-color: #F6F6F6;
          }

          .overlayexcel h5{
            text-align: center;
            font-size: 20px;
            position: absolute;
            bottom: 90px;
            right: 20px;
            font-weight: normal;
        }
        #renderButton{
            border: none;
            cursor: pointer;
            font-size: 20px;
            color: var(--green);
            position: relative;
            bottom: 60px;
            right:1140px;
        }